# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school.
---

In [83]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_merge = student_data.merge(school_data, how= 'inner', on = 'school_name')
school_merge

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

In [84]:
# Calculate the total number of unique schools
school_count = school_merge["school_name"].nunique()
school_count

15

In [85]:
# Calculate the total number of students
student_count = len(school_merge["Student ID"].unique())
student_count

39170

In [86]:
# Calculate the total budget
total_budget= school_merge["budget"].sum()
total_budget

82932329558

In [87]:
# Calculate the average (mean) math score
average_math_score = school_merge["math_score"].mean()
average_math_score

78.98537145774827

In [88]:
# Calculate the average (mean) reading score
average_reading = school_merge["reading_score"].mean()
average_reading

81.87784018381414

In [89]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)

passing_math_count = school_merge.loc[school_merge['math_score'] >= 70]['math_score'].count()
passing_math_percentage = passing_math_count/student_count*100

passing_math_percentage

74.9808526933878

In [90]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_merge.loc[school_merge['reading_score'] >= 70]['reading_score'].count()
passing_reading_percentage = passing_reading_count /(student_count) *100
passing_reading_percentage

85.80546336482001

In [91]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_merge[
    (school_merge["math_score"] >= 70) & (school_merge["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = (passing_math_percentage + passing_reading_percentage) / 2
overall_passing_rate

80.39315802910392

In [92]:
# Create a high-level snapshot of the district's key metrics in a DataFrame

district_summary = pd.DataFrame ({
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading],
    "Passing Math (%)": [passing_math_percentage],
    "Passing Reading (%)": [passing_reading_percentage],
    "Overall Passing Rate (%)": [overall_passing_rate]

})
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math (%),Passing Reading (%),Overall Passing Rate (%)
0,15,"39,170","$82,932,329,558.00",78.985371,81.87784,74.980853,85.805463,80.393158

## School Summary

In [93]:
# Use the code provided to select all of the school types
school_type = school_data.set_index(["school_name"])["type"]

In [94]:
# Calculate the total student count per school
per_school_counts = school_merge['Student ID'].count()
per_school_counts

39170

In [95]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data["budget"].sum()

per_school_capita  = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']
per_school_budget

24649428

In [123]:
# Calculate the average test scores per school
average_test

74.9808526933878

In [97]:
per_school_reading = district_summary["Average Reading Score"].mean()
per_school_reading

81.87784018381414

In [128]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_merge[
    (school_merge["math_score"] >= 70)].groupby("school_name").size()
students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [129]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_merge[
    (school_merge["reading_score"] >= 70)]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [130]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = (school_students_passing_math + school_students_passing_reading)/2
students_passing_math_and_reading

school_name
Bailey High School       3697.5
Cabrera High School      1776.0
Figueroa High School     2163.5
Ford High School         2021.5
Griffin High School      1398.5
Hernandez High School    3421.0
Holden High School        403.0
Huang High School        2144.0
Johnson High School      3506.0
Pena High School          916.5
Rodriguez High School    2931.0
Shelton High School      1670.5
Thomas High School       1558.0
Wilson High School       2173.5
Wright High School       1709.5
dtype: float64

In [131]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math.mean()/(school_students_passing_math)*100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = (school_students_passing_math_and_reading) / 2
per_school_passing_math

school_name
Bailey High School        59.011453
Cabrera High School      111.949686
Figueroa High School     100.616650
Ford High School         104.649920
Griffin High School      142.815463
Hernandez High School     63.283775
Holden High School       495.696203
Huang High School        102.192067
Johnson High School       62.257552
Pena High School         215.164835
Rodriguez High School     73.775433
Shelton High School      118.451301
Thomas High School       128.393443
Wilson High School        91.367242
Wright High School       116.547619
dtype: float64

In [132]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.

data = {"School Type": school_type,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "Passing Math (%)": per_school_passing_math,
    "Passing Reading (%)": per_school_passing_reading,
    "Overall Passing Rate (%)": overall_passing_rate

}
# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary = pd.DataFrame(data)
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math (%),Passing Reading (%),Overall Passing Rate (%)
school_name,,,,,,,,,
Bailey High School,District,39170,24649428,628.0,29370,81.87784,59.011453,10.408476,0.5
Cabrera High School,Charter,39170,24649428,582.0,29370,81.87784,111.949686,4.603013,0.5
Figueroa High School,District,39170,24649428,639.0,29370,81.87784,100.616650,6.078632,0.5
Ford High School,District,39170,24649428,644.0,29370,81.87784,104.649920,5.545060,0.5
Griffin High School,Charter,39170,24649428,625.0,29370,81.87784,142.815463,3.640541,0.5
Hernandez High School,District,39170,24649428,652.0,29370,81.87784,63.283775,9.568547,0.5
Holden High School,Charter,39170,24649428,581.0,29370,81.87784,495.696203,1.049272,0.5
Huang High School,District,39170,24649428,655.0,29370,81.87784,102.192067,6.055655,0.5
Johnson High School,District,39170,24649428,650.0,29370,81.87784,62.257552,9.872351,0.5
Pena High School,Charter,39170,24649428,609.0,29370,81.87784,215.164835,2.356395,0.5
Rodriguez High School,District,39170,24649428,637.0,29370,81.87784,73.775433,8.189941,0.5
Shelton High School,Charter,39170,24649428,600.0,29370,81.87784,118.451301,4.309420,0.5
Thomas High School,Charter,39170,24649428,638.0,29370,81.87784,128.393443,4.061782,0.5
Wilson High School,Charter,39170,24649428,578.0,29370,81.87784,91.367242,5.626755,0.5
Wright High School,Charter,39170,24649428,583.0,29370,81.87784,116.547619,4.439622,0.5

## Highest-Performing Schools (by % Overall Passing)

In [77]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools =  per_school_summary.sort_values("Overall Passing Rate (%)", ascending=False)

top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math (%),Passing Reading (%),Overall Passing Rate (%)
school_name,,,,,,,,,
Bailey High School,District,39170,24649428,628.0,78.985371,81.87784,59.011453,10.408476,1
Cabrera High School,Charter,39170,24649428,582.0,78.985371,81.87784,111.949686,4.603013,1
Figueroa High School,District,39170,24649428,639.0,78.985371,81.87784,100.616650,6.078632,1
Ford High School,District,39170,24649428,644.0,78.985371,81.87784,104.649920,5.545060,1
Griffin High School,Charter,39170,24649428,625.0,78.985371,81.87784,142.815463,3.640541,1

## Bottom Performing Schools (By % Overall Passing)

In [28]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("Overall Passing Rate (%)", ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math (%),Passing Reading (%),Overall Passing Rate (%)
school_name,,,,,,,,,
Holden High School,Charter,39170,248087,581.0,78.985371,81.87784,1.008425,1.049272,0.972683
Pena High School,Charter,39170,585858,609.0,78.985371,81.87784,2.323207,2.356395,2.223641
Griffin High School,Charter,39170,917500,625.0,78.985371,81.87784,3.500128,3.640541,3.395456
Ford High School,District,39170,1763916,644.0,78.985371,81.87784,4.776615,5.545060,3.796273
Thomas High School,Charter,39170,1043130,638.0,78.985371,81.87784,3.893286,4.061782,3.796273

## Math Scores by Grade

In [29]:
# Use the code provided to separate the data by grade
ninth_graders = school_merge[(school_merge["grade"] == "9th")]
tenth_graders = school_merge[(school_merge["grade"] == "10th")]
eleventh_graders = school_merge[(school_merge["grade"] == "11th")]
twelfth_graders = school_merge[(school_merge["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby(['school_name'])['math_score'].mean()
tenth_grade_math_scores = tenth_graders.groupby(['school_name'])['math_score'].mean()
eleventh_grade_math_scores = eleventh_graders.groupby(['school_name'])['math_score'].mean()
twelfth_grade_math_scores = twelfth_graders.groupby(['school_name'])['math_score'].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_data = {'Grade 9': ninth_grade_math_scores,
                        'Grade 10': tenth_grade_math_scores,
                        'Grade 11': eleventh_grade_math_scores,
                        'Grade 12': twelfth_grade_math_scores
}
math_scores = pd.DataFrame(math_data)
# Display the DataFrame
math_scores

                         Grade 9   Grade 10   Grade 11   Grade 12
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [30]:
# Use the code provided to separate the data by grade
ninth_graders = school_merge[(school_merge["grade"] == "9th")]
tenth_graders = school_merge[(school_merge["grade"] == "10th")]
eleventh_graders = school_merge[(school_merge["grade"] == "11th")]
twelfth_graders = school_merge[(school_merge["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.

ninth_grade_reading_scores = ninth_graders.groupby(['school_name'])['reading_score'].mean()
tenth_grade_reading_scores = tenth_graders.groupby(['school_name'])['reading_score'].mean()
eleventh_grade_reading_scores = eleventh_graders.groupby(['school_name'])['reading_score'].mean()
twelfth_grade_reading_scores = twelfth_graders.groupby(['school_name'])['reading_score'].mean()


reading_data = {'Grade 9': ninth_grade_reading_scores,
                        'Grade 10': tenth_grade_reading_scores,
                        'Grade 11': eleventh_grade_reading_scores,
                        'Grade 12': twelfth_grade_reading_scores
}                                            
# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores = pd.DataFrame(reading_data)
reading_scores

# Display the DataFrame
reading_scores

                         Grade 9   Grade 10   Grade 11   Grade 12
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [31]:
# Establish the bins 
bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [32]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math (%),Passing Reading (%),Overall Passing Rate (%)
school_name,,,,,,,,,
Bailey High School,District,39170,3124928,628.0,78.985371,81.87784,8.470768,10.408476,6.941537
Cabrera High School,Charter,39170,1081356,582.0,78.985371,81.87784,4.465152,4.603013,4.332397
Figueroa High School,District,39170,1884411,639.0,78.985371,81.87784,4.968088,6.078632,4.005617
Ford High School,District,39170,1763916,644.0,78.985371,81.87784,4.776615,5.545060,3.796273
Griffin High School,Charter,39170,917500,625.0,78.985371,81.87784,3.500128,3.640541,3.395456
Hernandez High School,District,39170,3022020,652.0,78.985371,81.87784,7.898902,9.568547,6.333929
Holden High School,Charter,39170,248087,581.0,78.985371,81.87784,1.008425,1.049272,0.972683
Huang High School,District,39170,1910635,655.0,78.985371,81.87784,4.891499,6.055655,3.985193
Johnson High School,District,39170,3094650,650.0,78.985371,81.87784,8.029104,9.872351,6.507531
Pena High School,Charter,39170,585858,609.0,78.985371,81.87784,2.323207,2.356395,2.223641
Rodriguez High School,District,39170,2547363,637.0,78.985371,81.87784,6.775594,8.189941,5.409752
Shelton High School,Charter,39170,1056600,600.0,78.985371,81.87784,4.220066,4.309420,4.041358
Thomas High School,Charter,39170,1043130,638.0,78.985371,81.87784,3.893286,4.061782,3.796273
Wilson High School,Charter,39170,1319574,578.0,78.985371,81.87784,5.471024,5.626755,5.279551
Wright High School,Charter,39170,1049400,583.0,78.985371,81.87784,4.288997,4.439622,4.151136

In [33]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df['Per Student Budget'], bins=bins, labels=labels)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math (%),Passing Reading (%),Overall Passing Rate (%),Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,39170,3124928,628.0,78.985371,81.87784,8.470768,10.408476,6.941537,$585-630
Cabrera High School,Charter,39170,1081356,582.0,78.985371,81.87784,4.465152,4.603013,4.332397,<$585
Figueroa High School,District,39170,1884411,639.0,78.985371,81.87784,4.968088,6.078632,4.005617,$630-645
Ford High School,District,39170,1763916,644.0,78.985371,81.87784,4.776615,5.545060,3.796273,$630-645
Griffin High School,Charter,39170,917500,625.0,78.985371,81.87784,3.500128,3.640541,3.395456,$585-630
Hernandez High School,District,39170,3022020,652.0,78.985371,81.87784,7.898902,9.568547,6.333929,$645-680
Holden High School,Charter,39170,248087,581.0,78.985371,81.87784,1.008425,1.049272,0.972683,<$585
Huang High School,District,39170,1910635,655.0,78.985371,81.87784,4.891499,6.055655,3.985193,$645-680
Johnson High School,District,39170,3094650,650.0,78.985371,81.87784,8.029104,9.872351,6.507531,$645-680
Pena High School,Charter,39170,585858,609.0,78.985371,81.87784,2.323207,2.356395,2.223641,$585-630
Rodriguez High School,District,39170,2547363,637.0,78.985371,81.87784,6.775594,8.189941,5.409752,$630-645
Shelton High School,Charter,39170,1056600,600.0,78.985371,81.87784,4.220066,4.309420,4.041358,$585-630
Thomas High School,Charter,39170,1043130,638.0,78.985371,81.87784,3.893286,4.061782,3.796273,$630-645
Wilson High School,Charter,39170,1319574,578.0,78.985371,81.87784,5.471024,5.626755,5.279551,<$585
Wright High School,Charter,39170,1049400,583.0,78.985371,81.87784,4.288997,4.439622,4.151136,<$585

In [34]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Passing Math (%)"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Passing Reading (%)"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Overall Passing Rate (%)"].mean()

In [35]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
        
})

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,78.985371,81.87784,3.808399,3.929666,3.683942
$585-630,78.985371,81.87784,4.628542,5.178708,4.150498
$630-645,78.985371,81.87784,5.103395,5.968854,4.251979
$645-680,78.985371,81.87784,6.939835,8.498851,5.608884

## Scores by School Size

In [36]:
# Establish the bins.
bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [37]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_summary['Total Students'], bins=bins, labels=labels)
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math (%),Passing Reading (%),Overall Passing Rate (%),School Size
school_name,,,,,,,,,,
Bailey High School,District,39170,3124928,628.0,78.985371,81.87784,8.470768,10.408476,6.941537,NaN
Cabrera High School,Charter,39170,1081356,582.0,78.985371,81.87784,4.465152,4.603013,4.332397,NaN
Figueroa High School,District,39170,1884411,639.0,78.985371,81.87784,4.968088,6.078632,4.005617,NaN
Ford High School,District,39170,1763916,644.0,78.985371,81.87784,4.776615,5.545060,3.796273,NaN
Griffin High School,Charter,39170,917500,625.0,78.985371,81.87784,3.500128,3.640541,3.395456,NaN
Hernandez High School,District,39170,3022020,652.0,78.985371,81.87784,7.898902,9.568547,6.333929,NaN
Holden High School,Charter,39170,248087,581.0,78.985371,81.87784,1.008425,1.049272,0.972683,NaN
Huang High School,District,39170,1910635,655.0,78.985371,81.87784,4.891499,6.055655,3.985193,NaN
Johnson High School,District,39170,3094650,650.0,78.985371,81.87784,8.029104,9.872351,6.507531,NaN
Pena High School,Charter,39170,585858,609.0,78.985371,81.87784,2.323207,2.356395,2.223641,NaN
Rodriguez High School,District,39170,2547363,637.0,78.985371,81.87784,6.775594,8.189941,5.409752,NaN
Shelton High School,Charter,39170,1056600,600.0,78.985371,81.87784,4.220066,4.309420,4.041358,NaN
Thomas High School,Charter,39170,1043130,638.0,78.985371,81.87784,3.893286,4.061782,3.796273,NaN
Wilson High School,Charter,39170,1319574,578.0,78.985371,81.87784,5.471024,5.626755,5.279551,NaN
Wright High School,Charter,39170,1049400,583.0,78.985371,81.87784,4.288997,4.439622,4.151136,NaN

In [38]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["Passing Math (%)"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["Passing Reading (%)"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["Overall Passing Rate (%)"].mean()

In [39]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
    
})

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),NaN,NaN,NaN,NaN,NaN
Medium (1000-2000),NaN,NaN,NaN,NaN,NaN
Large (2000-5000),NaN,NaN,NaN,NaN,NaN

## Scores by School Type

In [44]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["Passing Math (%)"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["Passing Reading (%)"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["Overall Passing Rate (%)"].mean()

In [45]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "% Passing Math": average_percent_passing_math_by_type,
    "% Passing Reading": average_percent_passing_reading_by_type,
    "% Overall Passing": average_percent_overall_passing_by_type

})

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,78.985371,81.87784,3.646285,3.760850,3.524062
District,78.985371,81.87784,6.544367,7.959809,5.282833